.mob {
  background-color: purple;
  border-radius: 99999px;
  font-size: 16px;
  height: 75px;
  position: absolute;
  transition: all 2.0s linear;
  width: 75px;
}

.mob--dead {
  display: none;
}

.mob--position-x1y1 {
  left: 0%;
  bottom: 0%;
}

.mob--position-x1y2 {
  left: 0%;
  bottom: 10%;
}

.mob--position-x1y3 {
  left: 0%;
  bottom: 20%;
}

.mob--position-x1y4 {
  left: 0%;
  bottom: 30%;
}

.mob--position-x1y5 {
  left: 0%;
  bottom: 40%;
}

.mob--position-x1y6 {
  left: 0%;
  bottom: 50%;
}

.mob--position-x1y7 {
  left: 0%;
  bottom: 60%;
}

.mob--position-x1y8 {
  left: 0%;
  bottom: 70%;
}

.mob--position-x1y9 {
  left: 0%;
  bottom: 80%;
}

.mob--position-x1y10 {
  left: 0%;
  bottom: 90%;
}

.mob--position-x2y1 {
  left: 10%;
  bottom: 0%;
}

.mob--position-x2y2 {
  left: 10%;
  bottom: 10%;
}

.mob--position-x2y3 {
  left: 10%;
  bottom: 20%;
}

.mob--position-x2y4 {
  left: 10%;
  bottom: 30%;
}

.mob--position-x2y5 {
  left: 10%;
  bottom: 40%;
}

.mob--position-x2y6 {
  left: 10%;
  bottom: 50%;
}

.mob--position-x2y7 {
  left: 10%;
  bottom: 60%;
}

.mob--position-x2y8 {
  left: 10%;
  bottom: 70%;
}

.mob--position-x2y9 {
  left: 10%;
  bottom: 80%;
}

.mob--position-x2y10 {
  left: 10%;
  bottom: 90%;
}

.mob--position-x3y1 {
  left: 20%;
  bottom: 0%;
}

.mob--position-x3y2 {
  left: 20%;
  bottom: 10%;
}

.mob--position-x3y3 {
  left: 20%;
  bottom: 20%;
}

.mob--position-x3y4 {
  left: 20%;
  bottom: 30%;
}

.mob--position-x3y5 {
  left: 20%;
  bottom: 40%;
}

.mob--position-x3y6 {
  left: 20%;
  bottom: 50%;
}

.mob--position-x3y7 {
  left: 20%;
  bottom: 60%;
}

.mob--position-x3y8 {
  left: 20%;
  bottom: 70%;
}

.mob--position-x3y9 {
  left: 20%;
  bottom: 80%;
}

.mob--position-x3y10 {
  left: 20%;
  bottom: 90%;
}

.mob--position-x4y1 {
  left: 30%;
  bottom: 0%;
}

.mob--position-x4y2 {
  left: 30%;
  bottom: 10%;
}

.mob--position-x4y3 {
  left: 30%;
  bottom: 20%;
}

.mob--position-x4y4 {
  left: 30%;
  bottom: 30%;
}

.mob--position-x4y5 {
  left: 30%;
  bottom: 40%;
}

.mob--position-x4y6 {
  left: 30%;
  bottom: 50%;
}

.mob--position-x4y7 {
  left: 30%;
  bottom: 60%;
}

.mob--position-x4y8 {
  left: 30%;
  bottom: 70%;
}

.mob--position-x4y9 {
  left: 30%;
  bottom: 80%;
}

.mob--position-x4y10 {
  left: 30%;
  bottom: 90%;
}

.mob--position-x5y1 {
  left: 40%;
  bottom: 0%;
}

.mob--position-x5y2 {
  left: 40%;
  bottom: 10%;
}

.mob--position-x5y3 {
  left: 40%;
  bottom: 20%;
}

.mob--position-x5y4 {
  left: 40%;
  bottom: 30%;
}

.mob--position-x5y5 {
  left: 40%;
  bottom: 40%;
}

.mob--position-x5y6 {
  left: 40%;
  bottom: 50%;
}

.mob--position-x5y7 {
  left: 40%;
  bottom: 60%;
}

.mob--position-x5y8 {
  left: 40%;
  bottom: 70%;
}

.mob--position-x5y9 {
  left: 40%;
  bottom: 80%;
}

.mob--position-x5y10 {
  left: 40%;
  bottom: 90%;
}

.mob--position-x6y1 {
  left: 50%;
  bottom: 0%;
}

.mob--position-x6y2 {
  left: 50%;
  bottom: 10%;
}

.mob--position-x6y3 {
  left: 50%;
  bottom: 20%;
}

.mob--position-x6y4 {
  left: 50%;
  bottom: 30%;
}

.mob--position-x6y5 {
  left: 50%;
  bottom: 40%;
}

.mob--position-x6y6 {
  left: 50%;
  bottom: 50%;
}

.mob--position-x6y7 {
  left: 50%;
  bottom: 60%;
}

.mob--position-x6y8 {
  left: 50%;
  bottom: 70%;
}

.mob--position-x6y9 {
  left: 50%;
  bottom: 80%;
}

.mob--position-x6y10 {
  left: 50%;
  bottom: 90%;
}

.mob--position-x7y1 {
  left: 60%;
  bottom: 0%;
}

.mob--position-x7y2 {
  left: 60%;
  bottom: 10%;
}

.mob--position-x7y3 {
  left: 60%;
  bottom: 20%;
}

.mob--position-x7y4 {
  left: 60%;
  bottom: 30%;
}

.mob--position-x7y5 {
  left: 60%;
  bottom: 40%;
}

.mob--position-x7y6 {
  left: 60%;
  bottom: 50%;
}

.mob--position-x7y7 {
  left: 60%;
  bottom: 60%;
}

.mob--position-x7y8 {
  left: 60%;
  bottom: 70%;
}

.mob--position-x7y9 {
  left: 60%;
  bottom: 80%;
}

.mob--position-x7y10 {
  left: 60%;
  bottom: 90%;
}

.mob--position-x8y1 {
  left: 70%;
  bottom: 0%;
}

.mob--position-x8y2 {
  left: 70%;
  bottom: 10%;
}

.mob--position-x8y3 {
  left: 70%;
  bottom: 20%;
}

.mob--position-x8y4 {
  left: 70%;
  bottom: 30%;
}

.mob--position-x8y5 {
  left: 70%;
  bottom: 40%;
}

.mob--position-x8y6 {
  left: 70%;
  bottom: 50%;
}

.mob--position-x8y7 {
  left: 70%;
  bottom: 60%;
}

.mob--position-x8y8 {
  left: 70%;
  bottom: 70%;
}

.mob--position-x8y9 {
  left: 70%;
  bottom: 80%;
}

.mob--position-x8y10 {
  left: 70%;
  bottom: 90%;
}

.mob--position-x9y1 {
  left: 80%;
  bottom: 0%;
}

.mob--position-x9y2 {
  left: 80%;
  bottom: 10%;
}

.mob--position-x9y3 {
  left: 80%;
  bottom: 20%;
}

.mob--position-x9y4 {
  left: 80%;
  bottom: 30%;
}

.mob--position-x9y5 {
  left: 80%;
  bottom: 40%;
}

.mob--position-x9y6 {
  left: 80%;
  bottom: 50%;
}

.mob--position-x9y7 {
  left: 80%;
  bottom: 60%;
}

.mob--position-x9y8 {
  left: 80%;
  bottom: 70%;
}

.mob--position-x9y9 {
  left: 80%;
  bottom: 80%;
}

.mob--position-x9y10 {
  left: 80%;
  bottom: 90%;
}

.mob--position-x10y1 {
  left: 90%;
  bottom: 0%;
}

.mob--position-x10y2 {
  left: 90%;
  bottom: 10%;
}

.mob--position-x10y3 {
  left: 90%;
  bottom: 20%;
}

.mob--position-x10y4 {
  left: 90%;
  bottom: 30%;
}

.mob--position-x10y5 {
  left: 90%;
  bottom: 40%;
}

.mob--position-x10y6 {
  left: 90%;
  bottom: 50%;
}

.mob--position-x10y7 {
  left: 90%;
  bottom: 60%;
}

.mob--position-x10y8 {
  left: 90%;
  bottom: 70%;
}

.mob--position-x10y9 {
  left: 90%;
  bottom: 80%;
}

.mob--position-x10y10 {
  left: 90%;
  bottom: 90%;
}
