.mob {
  font-size: 50px;
  position: absolute;
}

.mob--position-x1y1 {
  left: 0%;
  bottom: 0%;
}

.mob--position-x1y2 {
  left: 0%;
  bottom: 10%;
}

.mob--position-x1y3 {
  left: 0%;
  bottom: 20%;
}

.mob--position-x1y4 {
  left: 0%;
  bottom: 30%;
}

.mob--position-x1y5 {
  left: 0%;
  bottom: 40%;
}

.mob--position-x1y6 {
  left: 0%;
  bottom: 50%;
}

.mob--position-x1y7 {
  left: 0%;
  bottom: 60%;
}

.mob--position-x1y8 {
  left: 0%;
  bottom: 70%;
}

.mob--position-x1y9 {
  left: 0%;
  bottom: 80%;
}

.mob--position-x1y10 {
  left: 0%;
  bottom: 90%;
}
