$mob-width: 4%;

.mob {
  background-color: purple;
  border-radius: 99999px;
  font-size: 10px;
  height: $mob-width;
  // overflow: hidden;
  position: absolute;
  // transition: all 5.0s linear;
  width: $mob-width;
}

.mob--points-added {
  color: hsl(135, 100%, 50%);
  background-color: transparent;
  font-size: 25px;
  font-weight: bold;
  height: auto;
  position: absolute;
  transition: initial;
  white-space: nowrap;
  width: auto;
}

.mob--points-removed {
  color: hsl(0, 100%, 50%);
  background-color: transparent;
  font-size: 25px;
  font-weight: bold;
  height: auto;
  position: absolute;
  transition: initial;
  white-space: nowrap;
  width: auto;
}

.mob__health-bar-container {
  height: 150%;
  width: 100%;
  padding-top: 115%;
}

.mob__health-bar {
  background-color: hsl(120, 100%, 50%);
  height: 25%;
  width: 100%;
}

.mob__health-bar--100 {
  background-color: hsl(120, 100%, 50%);
  width: 100%;
}

.mob__health-bar--80 {
  background-color: hsl(90, 100%, 50%);
  width: 80%;
}

.mob__health-bar--60 {
  background-color: hsl(60, 100%, 50%);
  width: 60%;
}

.mob__health-bar--40 {
  background-color: hsl(30, 100%, 50%);
  width: 40%;
}

.mob__health-bar--20 {
  background-color: hsl(0, 100%, 50%);
  width: 20%;
}

.mob--dead {
  display: none;
}

.mob--position-x0 {
  left: 0%;
}

.mob--position-x1 {
  left: 1%;
}

.mob--position-x2 {
  left: 2%;
}

.mob--position-x3 {
  left: 3%;
}

.mob--position-x4 {
  left: 4%;
}

.mob--position-x5 {
  left: 5%;
}

.mob--position-x6 {
  left: 6%;
}

.mob--position-x7 {
  left: 7%;
}

.mob--position-x8 {
  left: 8%;
}

.mob--position-x9 {
  left: 9%;
}

.mob--position-x10 {
  left: 10%;
}

.mob--position-x11 {
  left: 11%;
}

.mob--position-x12 {
  left: 12%;
}

.mob--position-x13 {
  left: 13%;
}

.mob--position-x14 {
  left: 14%;
}

.mob--position-x15 {
  left: 15%;
}

.mob--position-x16 {
  left: 16%;
}

.mob--position-x17 {
  left: 17%;
}

.mob--position-x18 {
  left: 18%;
}

.mob--position-x19 {
  left: 19%;
}

.mob--position-x20 {
  left: 20%;
}

.mob--position-x21 {
  left: 21%;
}

.mob--position-x22 {
  left: 22%;
}

.mob--position-x23 {
  left: 23%;
}

.mob--position-x24 {
  left: 24%;
}

.mob--position-x25 {
  left: 25%;
}

.mob--position-x26 {
  left: 26%;
}

.mob--position-x27 {
  left: 27%;
}

.mob--position-x28 {
  left: 28%;
}

.mob--position-x29 {
  left: 29%;
}

.mob--position-x30 {
  left: 30%;
}

.mob--position-x31 {
  left: 31%;
}

.mob--position-x32 {
  left: 32%;
}

.mob--position-x33 {
  left: 33%;
}

.mob--position-x34 {
  left: 34%;
}

.mob--position-x35 {
  left: 35%;
}

.mob--position-x36 {
  left: 36%;
}

.mob--position-x37 {
  left: 37%;
}

.mob--position-x38 {
  left: 38%;
}

.mob--position-x39 {
  left: 39%;
}

.mob--position-x40 {
  left: 40%;
}

.mob--position-x41 {
  left: 41%;
}

.mob--position-x42 {
  left: 42%;
}

.mob--position-x43 {
  left: 43%;
}

.mob--position-x44 {
  left: 44%;
}

.mob--position-x45 {
  left: 45%;
}

.mob--position-x46 {
  left: 46%;
}

.mob--position-x47 {
  left: 47%;
}

.mob--position-x48 {
  left: 48%;
}

.mob--position-x49 {
  left: 49%;
}

.mob--position-x50 {
  left: 50%;
}

.mob--position-x51 {
  left: 51%;
}

.mob--position-x52 {
  left: 52%;
}

.mob--position-x53 {
  left: 53%;
}

.mob--position-x54 {
  left: 54%;
}

.mob--position-x55 {
  left: 55%;
}

.mob--position-x56 {
  left: 56%;
}

.mob--position-x57 {
  left: 57%;
}

.mob--position-x58 {
  left: 58%;
}

.mob--position-x59 {
  left: 59%;
}

.mob--position-x60 {
  left: 60%;
}

.mob--position-x61 {
  left: 61%;
}

.mob--position-x62 {
  left: 62%;
}

.mob--position-x63 {
  left: 63%;
}

.mob--position-x64 {
  left: 64%;
}

.mob--position-x65 {
  left: 65%;
}

.mob--position-x66 {
  left: 66%;
}

.mob--position-x67 {
  left: 67%;
}

.mob--position-x68 {
  left: 68%;
}

.mob--position-x69 {
  left: 69%;
}

.mob--position-x70 {
  left: 70%;
}

.mob--position-x71 {
  left: 71%;
}

.mob--position-x72 {
  left: 72%;
}

.mob--position-x73 {
  left: 73%;
}

.mob--position-x74 {
  left: 74%;
}

.mob--position-x75 {
  left: 75%;
}

.mob--position-x76 {
  left: 76%;
}

.mob--position-x77 {
  left: 77%;
}

.mob--position-x78 {
  left: 78%;
}

.mob--position-x79 {
  left: 79%;
}

.mob--position-x80 {
  left: 80%;
}

.mob--position-x81 {
  left: 81%;
}

.mob--position-x82 {
  left: 82%;
}

.mob--position-x83 {
  left: 83%;
}

.mob--position-x84 {
  left: 84%;
}

.mob--position-x85 {
  left: 85%;
}

.mob--position-x86 {
  left: 86%;
}

.mob--position-x87 {
  left: 87%;
}

.mob--position-x88 {
  left: 88%;
}

.mob--position-x89 {
  left: 89%;
}

.mob--position-x90 {
  left: 90%;
}

.mob--position-x91 {
  left: 91%;
}

.mob--position-x92 {
  left: 92%;
}

.mob--position-x93 {
  left: 93%;
}

.mob--position-x94 {
  left: 94%;
}

.mob--position-x95 {
  left: 95%;
}

.mob--position-x96 {
  left: 96%;
}

.mob--position-x97 {
  left: 97%;
}

.mob--position-x98 {
  left: 98%;
}

.mob--position-x99 {
  left: 99%;
}

.mob--position-x100 {
  left: 100%;
}

.mob--position-y0 {
  top: 0%;
}

.mob--position-y1 {
  top: 1%;
}

.mob--position-y2 {
  top: 2%;
}

.mob--position-y3 {
  top: 3%;
}

.mob--position-y4 {
  top: 4%;
}

.mob--position-y5 {
  top: 5%;
}

.mob--position-y6 {
  top: 6%;
}

.mob--position-y7 {
  top: 7%;
}

.mob--position-y8 {
  top: 8%;
}

.mob--position-y9 {
  top: 9%;
}

.mob--position-y10 {
  top: 10%;
}

.mob--position-y11 {
  top: 11%;
}

.mob--position-y12 {
  top: 12%;
}

.mob--position-y13 {
  top: 13%;
}

.mob--position-y14 {
  top: 14%;
}

.mob--position-y15 {
  top: 15%;
}

.mob--position-y16 {
  top: 16%;
}

.mob--position-y17 {
  top: 17%;
}

.mob--position-y18 {
  top: 18%;
}

.mob--position-y19 {
  top: 19%;
}

.mob--position-y20 {
  top: 20%;
}

.mob--position-y21 {
  top: 21%;
}

.mob--position-y22 {
  top: 22%;
}

.mob--position-y23 {
  top: 23%;
}

.mob--position-y24 {
  top: 24%;
}

.mob--position-y25 {
  top: 25%;
}

.mob--position-y26 {
  top: 26%;
}

.mob--position-y27 {
  top: 27%;
}

.mob--position-y28 {
  top: 28%;
}

.mob--position-y29 {
  top: 29%;
}

.mob--position-y30 {
  top: 30%;
}

.mob--position-y31 {
  top: 31%;
}

.mob--position-y32 {
  top: 32%;
}

.mob--position-y33 {
  top: 33%;
}

.mob--position-y34 {
  top: 34%;
}

.mob--position-y35 {
  top: 35%;
}

.mob--position-y36 {
  top: 36%;
}

.mob--position-y37 {
  top: 37%;
}

.mob--position-y38 {
  top: 38%;
}

.mob--position-y39 {
  top: 39%;
}

.mob--position-y40 {
  top: 40%;
}

.mob--position-y41 {
  top: 41%;
}

.mob--position-y42 {
  top: 42%;
}

.mob--position-y43 {
  top: 43%;
}

.mob--position-y44 {
  top: 44%;
}

.mob--position-y45 {
  top: 45%;
}

.mob--position-y46 {
  top: 46%;
}

.mob--position-y47 {
  top: 47%;
}

.mob--position-y48 {
  top: 48%;
}

.mob--position-y49 {
  top: 49%;
}

.mob--position-y50 {
  top: 50%;
}

.mob--position-y51 {
  top: 51%;
}

.mob--position-y52 {
  top: 52%;
}

.mob--position-y53 {
  top: 53%;
}

.mob--position-y54 {
  top: 54%;
}

.mob--position-y55 {
  top: 55%;
}

.mob--position-y56 {
  top: 56%;
}

.mob--position-y57 {
  top: 57%;
}

.mob--position-y58 {
  top: 58%;
}

.mob--position-y59 {
  top: 59%;
}

.mob--position-y60 {
  top: 60%;
}

.mob--position-y61 {
  top: 61%;
}

.mob--position-y62 {
  top: 62%;
}

.mob--position-y63 {
  top: 63%;
}

.mob--position-y64 {
  top: 64%;
}

.mob--position-y65 {
  top: 65%;
}

.mob--position-y66 {
  top: 66%;
}

.mob--position-y67 {
  top: 67%;
}

.mob--position-y68 {
  top: 68%;
}

.mob--position-y69 {
  top: 69%;
}

.mob--position-y70 {
  top: 70%;
}

.mob--position-y71 {
  top: 71%;
}

.mob--position-y72 {
  top: 72%;
}

.mob--position-y73 {
  top: 73%;
}

.mob--position-y74 {
  top: 74%;
}

.mob--position-y75 {
  top: 75%;
}

.mob--position-y76 {
  top: 76%;
}

.mob--position-y77 {
  top: 77%;
}

.mob--position-y78 {
  top: 78%;
}

.mob--position-y79 {
  top: 79%;
}

.mob--position-y80 {
  top: 80%;
}

.mob--position-y81 {
  top: 81%;
}

.mob--position-y82 {
  top: 82%;
}

.mob--position-y83 {
  top: 83%;
}

.mob--position-y84 {
  top: 84%;
}

.mob--position-y85 {
  top: 85%;
}

.mob--position-y86 {
  top: 86%;
}

.mob--position-y87 {
  top: 87%;
}

.mob--position-y88 {
  top: 88%;
}

.mob--position-y89 {
  top: 89%;
}

.mob--position-y90 {
  top: 90%;
}

.mob--position-y91 {
  top: 91%;
}

.mob--position-y92 {
  top: 92%;
}

.mob--position-y93 {
  top: 93%;
}

.mob--position-y94 {
  top: 94%;
}

.mob--position-y95 {
  top: 95%;
}

.mob--position-y96 {
  top: 96%;
}

.mob--position-y97 {
  top: 97%;
}

.mob--position-y98 {
  top: 98%;
}

.mob--position-y99 {
  top: 99%;
}

.mob--position-y100 {
  top: 100%;
}
