$projectile-width: 10%;
$particulates: 50;

@for $i from 1 through $particulates {
  @keyframes explode-#{$i} {
    0% {
      top: 0%;
      left: 0%;
    }
    100% {
      top: random(30) - 15 + %;
      left: random(30) - 15 + %;
      opacity: 0;
    }
  }

  @-moz-keyframes explode-#{$i} {
    0% {
      top: 0%;
      left: 0%;
    }
    100% {
      top: random(30) - 15 + %;
      left: random(30) - 15 + %;
      opacity: 0;
    }
  }

  @-webkit-keyframes "explode-#{$i}" {
    0% {
      top: 0%;
      left: 0%;
    }
    100% {
      top: random(30) - 15 + %;
      left: random(30) - 15 + %;
      opacity: 0;
    }
  }

  div.projectile__particulate {
    &:nth-child(#{$i}){
      animation-duration: 0.5s;
      animation-name: explode-#{$i};
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-out;
      background: hsl(random(65), 85%, 50%);
    }
  }
}

.tower__projectile {
  height: $projectile-width;
  position: absolute;
  width: $projectile-width;
}

.projectile__shell {
  position: relative;
  height: 100%;
  width: 100%;
}

.projectile__particulate {
  width: 2px;
  height: 2px;
  border-radius: 9999px;
  position: absolute;
}
