$board__tower-group__height: 60px;
$board__tower-group__padding: 6px;
$background-color: hsla(0, 0%, 100%, 0.25);

.board__tower-group {
  background-color: $background-color;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  height: $board__tower-group__height;
  padding: $board__tower-group__padding;

  &:hover {
    background-color: opacify($background-color, 0.25);
    box-shadow: 0 0 10px opacify($background-color, 0.6);
  }
}

.board__tower-group--selected {
  background-color: opacify($background-color, 0.25);
  box-shadow: 0 0 10px opacify($background-color, 0.6);
}

@import "tower-group/tower";
