$board__tower-group__height: 60px;
$board__tower-group__padding: 6px;
$background-color: hsla(0, 0%, 100%, 0.25);

.board__tower-group {
  background-color: $background-color;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  height: $board__tower-group__height;
  padding: $board__tower-group__padding;

  &:hover {
    background-color: opacify($background-color, 0.25);
    box-shadow: 0 0 10px opacify($background-color, 0.6);
  }
}

.board__tower-group--selected {
  background-color: opacify($background-color, 0.25);
  box-shadow: 0 0 10px opacify($background-color, 0.6);
}

////////////////////////
//                    //
//   Flexbox Styles   //
//                    //
////////////////////////

// align-content
.board__tower-group--a-c-stretch {
  align-content: stretch;
}

.board__tower-group--a-c-center {
  align-content: center;
}

.board__tower-group--a-c-start {
  align-content: flex-start;
}

.board__tower-group--a-c-end {
  align-content: flex-end;
}

.board__tower-group--a-c-between {
  align-content: space-between;
}

.board__tower-group--a-c-around {
  align-content: space-around;
}

.board__tower-group--a-c-initial {
  align-content: initial;
}

.board__tower-group--a-c-inherit {
  align-content: inherit;
}

// align-items
.board__tower-group--a-i-stretch {
  align-items: stretch;
}

.board__tower-group--a-i-center {
  align-items: center;
}

.board__tower-group--a-i-start {
  align-items: flex-start;
}

.board__tower-group--a-i-end {
  align-items: flex-end;
}

.board__tower-group--a-i-baseline {
  align-items: baseline;
}

.board__tower-group--a-i-initial {
  align-items: initial;
}

.board__tower-group--a-i-inherit {
  align-items: inherit;
}

// flex-direction
.board__tower-group--f-d-row {
  flex-direction: row;
}

.board__tower-group--f-d-row-reverse {
  flex-direction: row-reverse;
}

.board__tower-group--f-d-column {
  flex-direction: column;
}

.board__tower-group--f-d-column-reverse {
  flex-direction: column-reverse;
}

.board__tower-group--f-d-initial {
  flex-direction: initial;
}

.board__tower-group--f-d-inherit {
  flex-direction: inherit;
}

// flex-wrap
.board__tower-group--f-w-nowrap {
  flex-wrap: nowrap;
}

.board__tower-group--f-w-wrap {
  flex-wrap: wrap;
}

.board__tower-group--f-w-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.board__tower-group--f-w-initial {
  flex-wrap: initial;
}

.board__tower-group--f-w-inherit {
  flex-wrap: inherit;
}

// justify-content
.board__tower-group--justify-start {
  justify-content: flex-start;
}

.board__tower-group--justify-between {
  justify-content: space-between;
}

.board__tower-group--justify-around {
  justify-content: space-around;
}

.board__tower-group--justify-center {
  justify-content: center;
}

.board__tower-group--justify-end {
  justify-content: flex-end;
}

@import "tower-group/tower";
