<div class="tower__body">
  {{tool-tip selected=(readonly selected)
             selector=(readonly attrs.tower.selector)}}

  <div class="tower__pulse"></div>

  <div class="tower__turret">
    <div class="turret__cannon"></div>
  </div>
</div>

{{#each projectiles as |projectile|}}
  {{td-game/board/tower-group/tower/projectile damage-mob=(action attrs.damage-mob)
                                               destroy=(action "destroyProjectile")
                                               projectileId=(readonly projectile.id)
                                               attackPower=(readonly attrs.towerAttackPower)
                                               targetId=(readonly projectile.mobId)
                                               targetPosX=(readonly projectile.mobX)
                                               targetPosY=(readonly projectile.mobY)}}
{{/each}}
