<div class="tower__body">
  {{#if selected}}
    {{tool-tip selector=(readonly attrs.tower.selector)
               type="tower"}}

    <div class="tower__pulse"></div>
    <div class="tower__radius"></div>
  {{/if}}


  {{#if towerUpgraded}}
    <div class="tower__turret--upgraded"></div>
    <div class="cannon cannon--1"></div>
    <div class="cannon cannon--2"></div>
  {{else}}
    <div class="tower__turret">
      <div class="turret__cannon turret__cannon--1"></div>
    </div>
  {{/if}}
</div>

{{#each projectiles as |projectile|}}
  {{td-game/board/tower-group/tower/projectile damage-mob=(action attrs.damage-mob)
                                               destroy=(action "destroyProjectile")
                                               projectileId=(readonly projectile.id)
                                               attackPower=(readonly attrs.towerAttackPower)
                                               targetId=(readonly projectile.mobId)
                                               targetPosX=(readonly projectile.mobX)
                                               targetPosY=(readonly projectile.mobY)
                                               upgraded=(readonly towerUpgraded)}}
{{/each}}
