@-moz-keyframes pulse {
  0% { -moz-transform: scale(0); opacity: 0.0; }
  25% { -moz-transform: scale(0); opacity: 0.1; }
  50% { -moz-transform: scale(0.1); opacity: 0.3; }
  75% { -moz-transform: scale(0.5); opacity: 0.5; }
  100% { -moz-transform: scale(1); opacity: 0.0; }
}

@-webkit-keyframes "pulse" {
  0% { -webkit-transform: scale(0); opacity: 0.0; }
  25% { -webkit-transform: scale(0); opacity: 0.1; }
  50% { -webkit-transform: scale(0.1); opacity: 0.3; }
  75% { -webkit-transform: scale(0.5); opacity: 0.5; }
  100% { -webkit-transform: scale(1); opacity: 0.0; }
}

$turret-color: hsl(0, 100%, 0%);

.tower-group__tower {
  $background-color: hsl(0, 0%, 50%);

  background-color: $background-color;
  border-radius: 9999px;
  position: relative;

  &:hover {
    box-shadow: 0 0 10px transparentize($background-color, 0.15);
  }
}

.tower__pulse {
  display: none;
  background: yellow;
  border: 10px solid yellow;

  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;

  height: 300%;
  width: 300%;

  -webkit-animation: pulse 1.5s ease-out;
  -moz-animation: pulse 1.5s ease-out;
  animation: pulse 1.5s ease-out;

  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  position: absolute;
  top: -100%; left: -100%;
  transform: translate(-50%,-50%);
  opacity: 0;
}

.tower__turret {
  background-color: $turret-color;
  border-radius: 9999px;
  height: 60%;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
}

.turret__cannon {
  width: 0;
  height: 0;
  position: absolute;
  top: -10%; left: 50%;
  transform: translate(-50%,-50%);
}

.tower-group__tower--selected {
  $background-color--selected: hsl(120, 100%, 50%);
  // background-color: $background-color--selected;

  .tower__pulse {
    display: block;
  }

  &:hover {
    box-shadow: 0 0 10px transparentize($background-color--selected, 0.15);
  }
}

.tower__selector {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tower--colliding {
  box-shadow: 0 0 0px 5px blue;
}
