{{#if attrs.waveStarted}}
  <div>
    {{inputValue}}
  </div>
{{else}}
  {{input class="block__input"
          enter=(action "handleInputEnter")
          focusIn=(action "handleFocusIn")
          focusOut=(action "handleFocusOut")
          focusOnInsert=(readonly focusNewInput)
          key-up=(action "handleKeyUp")
          value=(readonly inputValue)
          viewName=(readonly inputViewName)}}
{{/if}}
