{{#if attrs.towerGroup}}
  <li class="block__line block__declaration">
    display: flex;
  </li>
{{/if}}

{{#if attrs.tower}}
  {{#each codeLines as |twrCodeLine|}}
    <li class="block__line block__declaration">
      {{td-game/stylesheet/block/input blockCodeLine=(readonly twrCodeLine.codeLine)
                                       blockSubmitted=(readonly twrCodeLine.submitted)
                                       class="block__input-container"
                                       codeLineId=(readonly twrCodeLine.id)
                                       delete-code-line=(action "deleteCodeLine")
                                       disable-autofocus=(action "disableAutoFocus")
                                       enable-autofocus=(action "enableAutoFocus")
                                       finalInputFound=(readonly finalInputFound)
                                       finalTowerId=(readonly attrs.finalTowerId)
                                       firstTowerGroupId=(readonly attrs.firstTowerGroupId)
                                       inputIdToFocus=(readonly inputIdToFocus)
                                       notify-final-input=(action "notifyFinalInput")
                                       overlayShown=(readonly attrs.overlayShown)
                                       shake-stylesheet=(action attrs.shake-stylesheet)
                                       submit-code-line=(action "submitCodeLine")
                                       select-tower=(action attrs.select-tower)
                                       selectedTower=(readonly attrs.selectedTower)
                                       tower=(readonly attrs.tower)
                                       unitId=(readonly attrs.tower.id)
                                       unitType=(readonly "tower")
                                       waveStarted=(readonly attrs.waveStarted)}}
    </li>
  {{/each}}
{{else}}
  {{#each codeLines as |twrGrpCodeLine|}}
    <li class="block__line block__declaration">
      {{td-game/stylesheet/block/input blockCodeLine=(readonly twrGrpCodeLine.codeLine)
                                       blockSubmitted=(readonly twrGrpCodeLine.submitted)
                                       class="block__input-container"
                                       codeLineId=(readonly twrGrpCodeLine.id)
                                       delete-code-line=(action "deleteCodeLine")
                                       disable-autofocus=(action "disableAutoFocus")
                                       enable-autofocus=(action "enableAutoFocus")
                                       finalInputFound=(readonly finalInputFound)
                                       finalTowerId=(readonly attrs.finalTowerId)
                                       firstTowerGroupId=(readonly attrs.firstTowerGroupId)
                                       inputIdToFocus=(readonly inputIdToFocus)
                                       overlayShown=(readonly attrs.overlayShown)
                                       shake-stylesheet=(action attrs.shake-stylesheet)
                                       submit-code-line=(action "submitCodeLine")
                                       select-tower-group=(action attrs.select-tower-group)
                                       selectedTowerGroup=(readonly attrs.selectedTowerGroup)
                                       towerGroup=(readonly attrs.towerGroup)
                                       unitId=(readonly attrs.towerGroup.id)
                                       unitType=(readonly "tower group")
                                       waveStarted=(readonly attrs.waveStarted)}}
    </li>
  {{/each}}
{{/if}}
