<li class="block__line block__brace-line">
  <span class="block__selector">{{selector}}</span>
  <span class="block__brace">{</span>
</li>

{{#if attrs.towerGroup}}
  <li class="block__line block__declaration">
    display: flex;
  </li>
{{/if}}

{{#if attrs.tower}}
  {{!-- {{#each twrGrpCodeLines as |twrGrpCodeLine|}} --}}
    <li class="block__line block__declaration">
      {{td-game/stylesheet/block/input blockCodeLine=(readonly twrCodeLine.codeLine)
                                       blockSubmitted=(readonly twrCodeLine.submitted)
                                       blockId=(readonly twrCodeLine.uid)
                                       class="block__input-container"
                                       click=(action attrs.select-tower attrs.tower)
                                       edit-code-line=(action "editCodeLine")
                                       enter-code-line=(action "enterCodeLine")
                                       selectedTower=(readonly attrs.selectedTower)
                                       tower=(readonly attrs.selectedTower)
                                       unitType=(readonly "tower")}}
    </li>
  {{!-- {{/each}} --}}

{{else}}
  {{!-- {{#each twrGrpCodeLines as |twrGrpCodeLine|}} --}}
    <li class="block__line block__declaration">
      {{td-game/stylesheet/block/input blockCodeLine=(readonly twrGrpCodeLine.codeLine)
                                       blockSubmitted=(readonly twrGrpCodeLine.submitted)
                                       blockId=(readonly twrGrpCodeLine.uid)
                                       class="block__input-container"
                                       click=(action attrs.select-tower-group attrs.towerGroup)
                                       edit-code-line=(action "editCodeLine")
                                       enter-code-line=(action "enterCodeLine")
                                       selectedTowerGroup=(readonly attrs.selectedTowerGroup)
                                       towerGroup=(readonly attrs.selectedTowerGroup)
                                       unitType=(readonly "tower group")}}
    </li>
  {{!-- {{/each}} --}}
{{/if}}

<li class="block__line block__brace-line">
  <span class="block__brace">}</span>
</li>
