<li class="block__line block__brace-line">
  <span class="block__selector">{{selector}}</span>
  <span class="block__brace">{</span>
</li>

{{#if attrs.towerGroup}}
  <li class="block__line block__declaration">
    display: flex;
  </li>
{{/if}}

{{#if attrs.tower}}
  {{#each codeLines as |twrCodeLine|}}
    <li class="block__line block__declaration">
      {{td-game/stylesheet/block/input blockCodeLine=(readonly twrCodeLine.codeLine)
                                       blockSubmitted=(readonly twrCodeLine.submitted)
                                       blockId=(readonly twrCodeLine.id)
                                       class="block__input-container"
                                       clickedStylesheet=(readonly attrs.clickedStylesheet)
                                       click=(action attrs.select-tower attrs.tower)
                                       delete-code-line=(action "deleteCodeLine")
                                       shake-stylesheet=(action attrs.shake-stylesheet)
                                       submit-code-line=(action "submitCodeLine")
                                       selectedTower=(readonly attrs.selectedTower)
                                       tower=(readonly attrs.tower)
                                       unitType=(readonly "tower")}}
    </li>
  {{/each}}
{{else}}
  {{#each codeLines as |twrGrpCodeLine|}}
    <li class="block__line block__declaration">
      {{td-game/stylesheet/block/input blockCodeLine=(readonly twrGrpCodeLine.codeLine)
                                       blockSubmitted=(readonly twrGrpCodeLine.submitted)
                                       blockId=(readonly twrGrpCodeLine.id)
                                       class="block__input-container"
                                       clickedStylesheet=(readonly attrs.clickedStylesheet)
                                       click=(action attrs.select-tower-group attrs.towerGroup)
                                       delete-code-line=(action "deleteCodeLine")
                                       shake-stylesheet=(action attrs.shake-stylesheet)
                                       submit-code-line=(action "submitCodeLine")
                                       selectedTowerGroup=(readonly attrs.selectedTowerGroup)
                                       towerGroup=(readonly attrs.towerGroup)
                                       unitType=(readonly "tower group")}}
    </li>
  {{/each}}
{{/if}}

<li class="block__line block__brace-line">
  <span class="block__brace">}</span>
</li>
