$td-game__sidebar__width: 200px;

.td-game {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.td-game__start-btn {
  background: green;
  border-radius: 4px;
  color: white;
  padding: 3px;
  position: absolute;
  top: 40px;
}

.td-game__sidebar {
  background-color: hsl(0, 0%, 90%);
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  width: $td-game__sidebar__width;
}

.sidebar__instructions {
  background: gray;
  color: white;
  flex: none;
}

@import
  "td-game/board",
  "td-game/stylesheet";
