$td-game__item__margin-bottom: 20px;

///////////////////
//               //
//   Game-wide   //
//               //
///////////////////

.td-game {
  background-color: $background-color--main;
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.td-game__loading-container {
  position: absolute;
  left: 50%;
  bottom: 50%;
}


/////////////////
//             //
//   Sidebar   //
//             //
/////////////////

.td-game__sidebar {
  background-color: $background-color--main;
  color: hsla(0, 0%, 90%, 0.75);
  display: flex;
  flex: 1 0 40%;
  flex-direction: column;
  font-family: $font-family--standard;
  min-width: 300px;
  overflow-y: auto;
  padding: 20px 30px 0px;
}

////////////////
//            //
//   Header   //
//            //
////////////////

@media (max-width: 1100px) {
  .td-game__header {
    align-items: center;
    flex-direction: column;
  }

  .header__title {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
  }
}

@media (min-width: 1101px) {
  .header__title {
    font-size: 25px;
    font-weight: 600;
  }
}

.td-game__header {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  margin-bottom: $td-game__item__margin-bottom;
  min-width: 270px;
}

.header__title {
  font-size: 25px;
  font-weight: 600;
}

// Navigation
.header__nav {
  position: relative;
  min-width: 199px;
}

.nav__button {
  background-color: hsla(0, 0%, 10%, 0.5);
  border-radius: 4px;
  color: desaturate(lighten($background-color--main, 10%), 20%);
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  margin-left: 3px;
  padding: 0.4em 0.8em;

  &:first-child {
    margin-left: 0px;
  }
}

.nav__button--active {
  $nav__background-color--active: hsla(0, 0%, 10%, 0.5);

  background-color: $nav__background-color--active;
  color: hsl(0, 0%, 100%);
  cursor: pointer;

  &:first-child {
    margin-left: 0px;
  }

  &:hover {
    background-color: darken($nav__background-color--active, 20%);
  }
}

.button__menu {
  position: absolute;
  left: -1px;
  top: 45px;
  z-index: 2;
  width: 100%;

  &:before {
    border-left: solid transparent 8px;
    border-right: solid transparent 8px;
    border-bottom: solid hsla(0, 0%, 10%, 0.7) 8px;
    content: " ";
    height: 0;
    top: -8px;
    left: 48%;
    position: absolute;
    width: 0;
  }
}

.menu__wave-links {
  background-color: hsla(0, 0%, 10%, 0.7);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px 0px;
  width: 101%;
}

.menu__wave-link {
  background-color: lighten($background-color--main, 10%);
  border-radius: 3px;
  color: hsl(0, 0%, 70%);
  font-weight: 400;
  height: 30px;
  width: 29px;
  margin: 0 10px 10px 0;

  &:nth-child(5) {
    margin-right: 0
  }

  &:last-child {
    margin-right: 0;
  }
}

.menu__wave-link--active {
  background-color: hsl(0, 0%, 85%);
  color: hsl(0, 0%, 10%);
  cursor: pointer;
  // font-weight: 400;

  &:hover {
    background-color: hsl(0, 0%, 100%);
  }
}

//////////////////////
//                  //
//   Instructions   //
//                  //
//////////////////////

.sidebar__instructions {
  flex: 0 0 auto;
  margin-bottom: $td-game__item__margin-bottom;

  ul {
    list-style: disc;
    padding-left: 35px;
  }
}

.sidebar__instructions code {
  background-color: hsla(0, 0%, 0%, 0.3);
  color: hsl(0, 0%, 90%);
  // cursor: pointer;
  padding: 3px 5px;
}

/////////////////
//             //
//   Overlay   //
//             //
/////////////////

.overlay {
  background-color: hsla(0, 0%, 0%, 0.55);
  font-family: $font-family--standard;
  height: 100vh;
  left: 0;
  overflow: auto;
  padding-top: 6%;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 2;
}

.modal {
  background-color: hsl(0, 0%, 80%);
  border-radius: 2px;
  margin: 0 auto;
  overflow-y: auto;
  padding: 20px;
  width: 650px;

  ul {
    list-style: disc;
    padding-left: 35px;
  }
}

.modal__button {
  background-color: $background-color--main;
  border-radius: 4px;
  color: hsl(0, 100%, 100%);
  cursor: pointer;
  display: inline-block;
  font-family: $font-family--standard;
  font-size: 16px;
  margin-top: 15px;
  padding: 0.7em 1.2em;

  &:hover {
    background-color: darken($background-color--main, 7.5%);
  }
}

.modal code {
  background-color: hsl(0, 0%, 70%);
  font-family: $font-family--monospace;
  padding: 0px 3px;
}

////////////////
//            //
//   Footer   //
//            //
////////////////

.sidebar__footer {
  font-weight: 300;
  margin-bottom: 20px;
  opacity: 0.5;
  text-align: center;
}

.footer__text {
  font-size: 11px;
}

.footer__link {
  &:hover {
    color: white;
  }
}

@import
  "td-game/board",
  "td-game/stylesheet",
  "td-game/tool-tip";
