$td-game__item__margin-bottom: 20px;

///////////////////
//               //
//   Game-wide   //
//               //
///////////////////

.td-game {
  background-color: hsl(200, 50%, 30%);
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow-y: hidden;
  position: relative;
}

.td-game__loading-container {
  position: absolute;
  left: 50%;
  bottom: 50%;
}

/////////////////
//             //
//   Sidebar   //
//             //
/////////////////

.td-game__sidebar {
  background-color: hsl(200, 50%, 30%);
  color: hsla(0, 0%, 90%, 0.75);
  display: flex;
  flex: 1 0 40%;
  flex-direction: column;
  font-family: $font-family--standard;
  min-width: 300px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 30px;
  // width: 50%;
}

.td-game__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: $td-game__item__margin-bottom;
}

.header__title {
  font-size: 25px;
  font-weight: 600;
}

.sidebar__instructions {
  flex: none;
  margin-bottom: $td-game__item__margin-bottom;

  ul {
    list-style: disc;
    padding-left: 35px;
  }
}

@import
  "td-game/board",
  "td-game/stylesheet";
