{{#if attrs.waveStarted}}
  {{#each attrs.towerGroups as |towerGroup|}}
    {{td-game/stylesheet/block select-tower-group=(action attrs.select-tower-group)
                               selectedTowerGroup=(readonly attrs.selectedTowerGroup)
                               towerGroup=(readonly towerGroup)
                               update-unit-styles=(action "updateTowerGroupStyles")}}

    {{#each towerGroup.towers as |tower|}}
      {{td-game/stylesheet/block select-tower=(action attrs.select-tower)
                                 selectedTower=(readonly attrs.selectedTower)
                                 tower=(readonly tower)
                                 update-unit-styles=(action "updateTowerStyles")}}
    {{/each}}
  {{/each}}
{{/if}}

<button {{action "submitCodeLines"}} class="block__submit-btn">Submit code</button>
