{{#if attrs.waveStarted}}
  <div class="board__points">
    Points: {{wavePoints}}
  </div>

  {{#each mobs as |mob|}}
    {{td-game/board/mob add-points=(action "addPoints")
                        class=(readonly mob.posClass)
                        destroy-mob=(action "destroyMob")
                        mob=(readonly mob)
                        number=(readonly mob.number)
                        path=(readonly attrs.path)
                        points=(readonly mob.points)
                        posX=(readonly mob.posX)
                        posY=(readonly mob.posY)
                        health=(readonly mob.health)
                        speed=10
                        subtract-points=(action "subtractPoints")
                        type=(readonly mob.type)
                        update-class=(action "updateMobClass")
                        update-position=(action "updateMobPosition")}}
  {{/each}}
{{/if}}

{{#each attrs.towerGroups as |towerGroup|}}
  {{td-game/board/tower-group allTowers=(readonly towers)
                              class=(readonly towerGroup.posY)
                              click=(action attrs.select-tower-group towerGroup)
                              selectedTower=(readonly selectedTower)
                              selectedTowerGroup=(readonly selectedTowerGroup)
                              select-tower=(action attrs.select-tower)
                              towerGroup=(readonly towerGroup)
                              type=(readonly towerGroup.type)
                              update-tower-position=(action "updateTowerPosition")}}
{{/each}}
