{{#if attrs.waveStarted}}
  <div class="board__points">
    Points: {{wavePoints}}
  </div>

  {{#each mobs as |mob|}}
    {{td-game/board/mob add-points=(action "addPoints")
                        class=(readonly mob.posClass)
                        destroy-mob=(action "destroyMob")
                        mob=(readonly mob)
                        number=(readonly mob.number)
                        path=(readonly attrs.path)
                        points=(readonly mob.points)
                        posX=(readonly mob.posX)
                        posY=(readonly mob.posY)
                        health=(readonly mob.health)
                        speed=(readonly mob.speed)
                        subtract-points=(action "subtractPoints")
                        type=(readonly mob.type)
                        update-class=(action "updateMobClass")
                        update-position=(action "updateMobPosition")
                        waveStarted=(readonly attrs.waveStarted)}}
  {{/each}}
{{/if}}

{{#each projectiles as |projectile|}}
  {{td-game/board/projectile damage-mob=(action "damageMob")
                             destroy=(action "destroyProjectile")
                             mobId=(readonly projectile.mobId)
                             mobX=(readonly projectile.mobX)
                             mobY=(readonly projectile.mobY)
                             id=(readonly projectile.id)
                             towerId=(readonly projectile.towerId)
                             towerX=(readonly projectile.towerX)
                             towerY=(readonly projectile.towerY)
                             update-target-coords=(action "updateProjectileTargetCoords")
                             waveStarted=(readonly attrs.waveStarted)}}
{{/each}}

{{#each attrs.towerGroups as |towerGroup|}}
  {{td-game/board/tower-group allTowers=(readonly towers)
                              class=(readonly towerGroup.posY)
                              click=(action attrs.select-tower-group towerGroup)
                              numRows=(readonly towerGroup.numRows)
                              selectedTower=(readonly selectedTower)
                              selectedTowerGroup=(readonly selectedTowerGroup)
                              select-tower=(action attrs.select-tower)
                              towerGroup=(readonly towerGroup)
                              update-tower-position=(action "updateTowerPosition")
                              waveStarted=(readonly attrs.waveStarted)}}
{{/each}}
