{{#if attrs.waveStarted}}
  <div class="board__tower-groups">
    {{#each attrs.towerGroups as |towerGroup|}}
      {{td-game/board/tower-group click=(action "selectTowerGroup" towerGroup)
                                  selectedTowerGroup=(readonly selectedTowerGroup)
                                  select-tower=(action "selectTower")
                                  towerGroup=(readonly towerGroup)
                                  towers=(readonly towerGroup.towers)}}
    {{/each}}
  </div>

  {{#each attrs.mobs as |mob|}}
    {{td-game/board/mob mob=(readonly mob)}}
  {{/each}}
{{/if}}
