{{#if attrs.waveStarted}}
  <div class="board__tower-groups">
    {{#each attrs.towerGroups as |towerGroup|}}
      {{td-game/board/tower-group click=(action attrs.select-tower-group towerGroup)
                                  selectedTower=(readonly selectedTower)
                                  selectedTowerGroup=(readonly selectedTowerGroup)
                                  select-tower=(action attrs.select-tower)
                                  towerGroup=(readonly towerGroup)
                                  towers=(readonly towerGroup.towers)}}
    {{/each}}
  </div>

  {{#each mobs as |mob|}}
    {{td-game/board/mob remainingHealth=(readonly mob.remainingHealth)
                        number=(readonly mob.number)
                        path=(readonly attrs.path)
                        points=(readonly mob.points)
                        speed=(readonly mob.speed)
                        type=(readonly mob.type)}}
  {{/each}}
{{/if}}
