{{#if attrs.waveStarted}}
  <div class="board__points">
    Points: {{wavePoints}}
  </div>

  {{#each mobs as |mob|}}
    {{td-game/board/mob add-points=(action "addPoints")
                        class=(readonly mob.posClass)
                        destroy-mob=(action "destroyMob")
                        mob=(readonly mob)
                        number=(readonly mob.number)
                        path=(readonly attrs.path)
                        points=(readonly mob.points)
                        posX=(readonly mob.posX)
                        posY=(readonly mob.posY)
                        health=(readonly mob.health)
                        speed=(readonly mob.speed)
                        subtract-points=(action "subtractPoints")
                        type=(readonly mob.type)
                        update-class=(action "updateMobClass")
                        report-position=(action "reportMobPosition")
                        waveStarted=(readonly attrs.waveStarted)}}
  {{/each}}
{{/if}}

{{#each attrs.towerGroups as |towerGroup|}}
  {{td-game/board/tower-group add-colliding-tower=(action attrs.add-colliding-tower)
                              allTowers=(readonly towers)
                              damage-mob=(action "damageMob")
                              mobs=(readonly mobs)
                              numRows=(readonly towerGroup.numRows)
                              path=(readonly attrs.path)
                              posY=(readonly towerGroup.posY)
                              remove-colliding-tower=(action attrs.remove-colliding-tower)
                              report-tower-position=(action attrs.report-tower-position)
                              select=(action attrs.select-tower-group)
                              selectedTower=(readonly selectedTower)
                              selectedTowerGroup=(readonly selectedTowerGroup)
                              select-tower=(action attrs.select-tower)
                              towerGroup=(readonly towerGroup)
                              waveStarted=(readonly attrs.waveStarted)}}
{{/each}}
