$color--muted: hsla(0, 50%, 0%, 0.5);

.stylesheet__block {

}

// a line of code
.block__line {

}

.block__brace-line {
  color: $color--muted;
}

.block__selector {

}

.block__brace {

}

.block__declaration {
  color: $color--muted;
  padding-left: 1em;
}

.block__submit-btn {
  border: 1px solid black;
  border-radius: 4px;
  padding: 3px;
}

@import "block/input";
