{{#unless waveStarted}}
  <div class="td-game__start-btn-overlay">
    <button class="td-game__start-btn"
            onclick={{action (action "startWave")}}>
      Start Wave
    </button>
  </div>
{{/unless}}

<div class="td-game__sidebar">
  <div class="sidebar__instructions">
    Instructions
  </div>

  {{td-game/stylesheet selectedTowerGroup=(readonly selectedTowerGroup)
                       towerGroups=(readonly currentWave.towerGroups)
                       waveStarted=(readonly waveStarted)}}
</div>

{{td-game/board mobs=(readonly currentWave.mobs)
                select-tower-group=(action "selectTowerGroup")
                selectedTowerGroup=(readonly selectedTowerGroup)
                towerGroups=(readonly currentWave.towerGroups)
                waveStarted=(readonly waveStarted)}}
