{{#unless waveStarted}}
  <div class="td-game__start-btn-overlay">
    <button class="td-game__start-btn"
            onclick={{action (action "startWave")}}>
      Start Wave
    </button>
  </div>
{{/unless}}

<div class="td-game__sidebar">
  <div class="sidebar__instructions">
    Instructions
  </div>

  {{td-game/stylesheet select-tower=(action "selectTower")
                       select-tower-group=(action "selectTowerGroup")
                       selectedTower=(readonly selectedTower)
                       selectedTowerGroup=(readonly selectedTowerGroup)
                       submit-styles=(action "setStyles")
                       towerGroups=(readonly currentWave.towerGroups)
                       waveStarted=(readonly waveStarted)}}
</div>

{{td-game/board path=(readonly currentWave.board.pathData)
                select-tower=(action "selectTower")
                select-tower-group=(action "selectTowerGroup")
                selectedTower=(readonly selectedTower)
                selectedTowerGroup=(readonly selectedTowerGroup)
                towerGroups=(readonly currentWave.towerGroups)
                waveMobs=(readonly currentWave.mobs)
                waveStarted=(readonly waveStarted)}}
