{{#unless waveStarted}}
  <button class="td-game__start-btn"
          onclick={{action (action "startWave")}}>
    Start Wave
  </button>
{{/unless}}

<div class="td-game__sidebar">
  <div class="sidebar__instructions">
    Instructions
  </div>

  {{td-game/stylesheet towerGroups=(readonly currentWave.towerGroups)
                       waveStarted=(readonly waveStarted)}}
</div>

{{td-game/board mobs=(readonly currentWave.mobs)
                towerGroups=(readonly currentWave.towerGroups)
                waveStarted=(readonly waveStarted)}}
