{{#unless waveStarted}}
  <button class="td-game__start-btn"
          onclick={{action (action "startWave")}}>
    Start Wave
  </button>
{{/unless}}

{{#if waveStarted}}
  {{td-game/board}}
{{/if}}
