<div class="td-game__sidebar">
  <div class="sidebar__instructions">
    Instructions
  </div>

  {{td-game/stylesheet click=(action "clickStylesheet")
                       clickedStylesheet=(readonly clickedStylesheet)
                       select-tower=(action "selectTower")
                       select-tower-group=(action "selectTowerGroup")
                       selectedTower=(readonly selectedTower)
                       selectedTowerGroup=(readonly selectedTowerGroup)
                       start-wave=(action "startWave")
                       submit-styles=(action "setStyles")
                       towerGroups=(readonly currentWave.towerGroups)
                       waveStarted=(readonly waveStarted)}}
</div>

{{td-game/board backgroundImage=(readonly currentWave.board.imageUrl)
                click=(action "clickBoard")
                path=(readonly currentWave.board.pathData)
                select-tower=(action "selectTower")
                select-tower-group=(action "selectTowerGroup")
                selectedTower=(readonly selectedTower)
                selectedTowerGroup=(readonly selectedTowerGroup)
                towerGroups=(readonly currentWave.towerGroups)
                waveMobs=(readonly currentWave.mobs)
                waveStarted=(readonly waveStarted)}}
