{{#unless waveStarted}}
  <button class="td-game__start-btn"
          onclick={{action (action "startWave")}}>
    Start Wave
  </button>
{{/unless}}

<div class="td-game__sidebar">
  {{td-game/stylesheet}}

  <div class="td-game__instructions">
    Instructions
  </div>
</div>

{{td-game/board waveStarted=(readonly waveStarted)}}
