{{#each groupTowers as |tower|}}
  <div class="tower-group__pulse"></div>

  {{td-game/board/tower-group/tower add-colliding-tower=(action attrs.add-colliding-tower)
                                    path=(readonly attrs.path)
                                    remove-colliding-tower=(action attrs.remove-colliding-tower)
                                    select=(action attrs.select-tower tower)
                                    selectedTower=(readonly selectedTower)
                                    stylesInitialized=(readonly stylesInitialized)
                                    towerGroupStyles=(readonly attrs.towerGroup.styles)
                                    tower=(readonly tower)
                                    type=(readonly tower.type)
                                    report-tower-position=(action attrs.report-tower-position)
                                    waveStarted=(readonly attrs.waveStarted)}}
{{/each}}
