.td-game__board {
  background-color: hsl(125, 60%, 37%);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px 0px 0px 10px;
  color: white;
  height: 100vh;
  flex: 0 0 100vh;
  max-height: 60vw;
  max-width: 60%;
  overflow: hidden;
  padding-left: 30px;
  padding-top: 30px;
  position: relative;
}

@import
  "board/mob",
  "board/projectile",
  "board/tower-group";
