.td-game__board {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px 0px 0px 10px;
  color: white;
  height: 100vh;
  flex: 0 0 100vh;
  max-height: 60vw;
  max-width: 60%;
  overflow: hidden;
  position: relative;
}

@import
  "board/mob",
  "board/projectile",
  "board/tower-group";
