$stylesheet__color--light: hsl(0, 0%, 80%);
$width--line-number: 5%;

.sidebar__stylesheet {
  background-color: $font-color--standard;
  border-radius: 4px;
  display: flex;
  font-family: $font-family--monospace;
  font-size: 14px;
  overflow-y: auto;
  position: relative;
}

.stylesheet__line-numbers {
  background-color: gray;
  color: $stylesheet__color--light;
  height: 100%;
  max-width: 30px;
  min-width: 25px;
  padding-right: 4px;
  text-align: right;
  width: $width--line-number;

  & > :first-child {
    margin-top: 10px;
  }

  & > :last-child {
    margin-bottom: 50px;
  }
}

.stylesheet__line-number {
  height: $stylesheet__line-height;
  line-height: $stylesheet__line-height;
}

.stylesheet__content {
  background-color: $stylesheet__color--light;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  height: 100%;
  padding-left: 5px;
  padding-top: 10px;
  position: relative;
  width: 100%;

  & > :last-child {
    margin-bottom: 50px;
  }
}

.stylesheet__start-wave-button {
  background-color: hsla(5, 95%, 42%, 0.3);
  border-radius: 4px;
  bottom: 10px;
  color: hsl(0, 100%, 100%);
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  padding: 0.4em 0.8em;
  position: absolute;
  right: ($width--line-number / 2);
}

.stylesheet__start-wave-button--active {
  background-color: hsl(5, 94%, 42%);
  cursor: pointer;
}

@import "stylesheet/block";
