$stylesheet__color--light: hsl(0, 0%, 80%);
$stylesheet__line-height: 22px;
$width--line-number: 5%;

.sidebar__stylesheet {
  border-radius: 4px;
  display: flex;
  flex: 0 0 auto;
  font-family: $font-family--monospace;
  font-size: 14px;
  margin-bottom: 20px;
  overflow-y: auto;
  position: relative;
}

.stylesheet__line-numbers {
  background-color: gray;
  color: $stylesheet__color--light;
  height: 100%;
  padding-right: 5px;
  text-align: right;
  width: 28px;

  & > :first-child {
    margin-top: 10px;
  }

  & > :last-child {
    margin-bottom: 50px;
  }
}

.stylesheet__line-number {
  height: $stylesheet__line-height;
  line-height: $stylesheet__line-height;
  margin-bottom: 4px;
}

.stylesheet__content {
  background-color: $stylesheet__color--light;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  height: 100%;
  padding: 10px 10px 0;
  position: relative;
  width: 100%;

  & > :last-child {
    margin-bottom: 50px;
  }
}

.stylesheet__start-wave-button {
  background-color: transparentize($background-color--main, 0.4);
  border-radius: 4px;
  bottom: 10px;
  color: hsl(0, 100%, 100%);
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  padding: 0.7em 1.2em;
  position: absolute;
  right: 10px;
}

.stylesheet__start-wave-button--active {
  background-color: $background-color--main;
  cursor: pointer;

  &:hover {
    background-color: darken($background-color--main, 7.5%);
  }
}

.stylesheet__help--button {
  color: gray;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 12px;

  &:hover {
    color: darken(gray, 20%);
  }
}

.stylesheet__hide-inputs {
  position: absolute;
  bottom: 10px;
  cursor: pointer;
}

.hide-inputs__checkbox {
  cursor: default;
}

.hide-inputs__text {
  color: gray;
  font-family: 'PT Sans', sans-serif;

  &:hover {
    text-decoration: underline;
  }
}

@import "stylesheet/block";
