$stylesheet__color--light: hsl(0, 0%, 80%);
$width--line-number: 5%;

.sidebar__stylesheet {
  border-radius: 4px;
  display: flex;
  flex: 0 0 auto;
  font-family: $font-family--monospace;
  font-size: 14px;
  margin-bottom: 20px;
  overflow-y: auto;
  position: relative;
}

.stylesheet__line-numbers {
  background-color: gray;
  color: $stylesheet__color--light;
  height: 100%;
  max-width: 30px;
  min-width: 25px;
  padding-right: 4px;
  text-align: right;
  width: $width--line-number;

  & > :first-child {
    margin-top: 10px;
  }

  & > :last-child {
    margin-bottom: 50px;
  }
}

.stylesheet__line-number {
  height: $stylesheet__line-height;
  line-height: $stylesheet__line-height;
}

.stylesheet__content {
  background-color: $stylesheet__color--light;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  height: 100%;
  padding-left: 5px;
  padding-top: 10px;
  position: relative;
  width: 100%;

  & > :last-child {
    margin-bottom: 50px;
  }
}

.stylesheet__start-wave-button {
  background-color: transparentize($background-color--main, 0.4);
  border-radius: 4px;
  bottom: 10px;
  color: hsl(0, 100%, 100%);
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  padding: 0.7em 1.2em;
  position: absolute;
  right: ($width--line-number / 2);
}

.stylesheet__start-wave-button--active {
  background-color: $background-color--main;
  cursor: pointer;

  &:hover {
    background-color: darken($background-color--main, 7.5%);
  }
}

.stylesheet__help--button {
  color: gray;
  cursor: pointer;
  position: absolute;
  right: 2.5%;
  top: 2.5%;

  &:hover {
    color: darken(gray, 20%);
  }
}


@import "stylesheet/block";
