@keyframes emerge-up {
  from { transform: translateY(10px); opacity: 0; }
  to { transform: translateY(0px); opacity: 1; }
}

@-moz-keyframes emerge-up {
  from { transform: translateY(10px); opacity: 0; }
  to { transform: translateY(0px); opacity: 1; }
}

@-webkit-keyframes "emerge-up" {
  from { transform: translateY(10px); opacity: 0; }
  to { transform: translateY(0px); opacity: 1; }
}

$tooltip--color: hsla(0, 0%, 0%, 0.5);

.tool-tip {
  color: hsl(0, 0%, 85%);
  cursor: default;
  font-family: $font-family--monospace;
  font-size: 13px;
  font-weight: 500;
  height: 100%;
  position: absolute;
  width: 100%;
}

.tool-tip--top {
  top: -40px;
}

.tool-tip--bottom {
  bottom: -115%;
}

.tool-tip__content {
  text-align: center;
  -webkit-animation: emerge-up 0.25s ease-out;
     -moz-animation: emerge-up 0.25s ease-out;
          animation: emerge-up 0.25s ease-out;
}

.tool-tip__content nobr {
  background-color: $tooltip--color;
  padding: 4px 5px;
}

.tool-tip__caret {
  border-left: solid transparent 8px;
  border-right: solid transparent 8px;
  content: " ";
  height: 0;
  margin: 4px auto;
  width: 0;

  -webkit-animation: emerge-up 0.25s ease-out;
     -moz-animation: emerge-up 0.25s ease-out;
          animation: emerge-up 0.25s ease-out;
}

.tool-tip__caret--top {
  border-bottom: solid $tooltip--color 8px;
}

.tool-tip__caret--bottom {
  border-top: solid $tooltip--color 8px;
}
